<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <ul class="list-group">
        <li class="list-grou<p-item disabled" aria-disabled="true">A disabled item</li>
        {% for task in object_list %}
        
        <li class="list-group-item">{{ task.title }}</li>
        <a href="{% url 'task' task.id %}">View</a>

        {% empty %}
            <h3>No items in a list</h3> 
        {% endfor %}
      </ul>
</body>
</html>