<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
</head>
<body>
    <div>
    <ul class="list-group">
        <li class="list-group-item disabled" aria-disabled="true">A disabled item</li>
        <li class="list-group-item">Category: {{ task.category }}</li>
        <li class="list-group-item">Title: {{ task.title }}</li>
        <li class="list-group-item">Text: {{ task.text }}</li>
    </ul>
    </div>
</body>
</html>